<!doctype html>
<html>
	<head>
		<title>Quiz by Maria Kareliusson</title>
		<link rel="stylesheet" type="text/css" href="/static/normalize.css">
		<link rel="stylesheet" type="text/css" href="/static/quiz.css">
		 <!--Favicon
    	<link rel="shortcut icon" href="favicon.ico"> -->
    	<meta charset="utf-8">
	</head>
	<body>
	<h1>Du är klar och fick {{ correct }} av {{ total }}</h1>
		<div>
			<img src="http://placekitten.com/g/200/300">
		</div>
		Du hade x antal rätt. <br>
		Log Lady | Leo Johnsson <br>
		Äh, det är lugnt, the owls are not what they seem... <br>
		<p><a href="{% url "start_page" %}">Till startsidan</a></p>
	</body>
</html>