<!doctype html>
<html>
	<head>
		<title>Quiz by Maria Kareliusson</title>
		<link rel="stylesheet" type="text/css" href="/static/normalize.css">
		<link rel="stylesheet" type="text/css" href="/static/quiz.css">
		 <!--Favicon
    	<link rel="shortcut icon" href="favicon.ico"> -->
    	<meta charset="utf-8">
	</head>
	<body>
		<h2>Twin Peaks Trivia</h2>
		<div>
		<img src="/static/nightingale.png" alt="Twin Peaks Nightingale" style="width:20%">
		</div>


	<h2>{{ question }}</h2>
	
	<form action="{% url "question_page" quiz.slug question_number %}" method="post">
	{% csrf_token %}
	<p>
		<label>
			<input type="radio" name="answer" value="1"> {{answer1}}
		</label> <br>

		<label>
			<input type="radio" name="answer" value="2"> {{answer2}}
		</label><br>

		<label>
			<input type="radio" name="answer" value="3"> {{answer3}}
		</label><br><br>

		<button type="submit"> > </a>
		</button>
	</p>

	</form>

	


	</body>
</html>