<!doctype html>
<html>
	<head>
		<title>Quiz by Maria Kareliusson</title>
		<link rel="stylesheet" type="text/css" href="/static/normalize.css">
		<link rel="stylesheet" type="text/css" href="/static/quiz.css">
		 <!--Favicon
    	<link rel="shortcut icon" href="favicon.ico"> -->
    	<meta charset="utf-8">
	</head>
	<body>
		<!-- <h1>{{ question_number }} {{ question }}</h1> -->
<!-- 	<p>{{ quiz.description }}</p> -->

		<div>
			<img src="/static/twin_peaks.jpg"alt="Twin Peaks intro" style="width:35%">
			<br>
		</div>
	
	{% url "question_page" quiz.slug 1 %}
	<h2>
	<a href="{% url "question_page" quiz.slug 1 %}"> Start quiz</a>
	</h2>

	</body>
</html>