<!doctype html>
<html>

	<head>
		<title>Quiz by Maria Kareliusson</title>
		<link rel="stylesheet" type="text/css" href="/static/normalize.css">
		<link rel="stylesheet" type="text/css" href="/static/quiz.css">
		 <!--Favicon-->
    	<!-- <link rel="shortcut icon" href="favicon.ico"> -->
    	<meta charset="utf-8">
	</head>

	<body>
		<h1>Welcome</h1>
		<h2>These quizzes are available:<h2>
		<div></div>

		{% for quiz in quizzes %}

			<a href="{% url "quiz_page" quiz.slug %}"> <h2>{{ quiz.name}}</h2> </a>
			<!-- <img src="/static/twin_peaks.jpg"alt="Twin Peaks intro" style="width:30%">
 -->
		{% endfor %} 	

	</body>

</html

		