<!doctype html>
<html>

	<head>
		<title>Quiz by Maria Kareliusson</title>
		<link rel="stylesheet" type="text/css" href="/static/normalize.css">
		<link rel="stylesheet" type="text/css" href="/static/quiz.css">
		 <!--Favicon-->
    	<!-- <link rel="shortcut icon" href="favicon.ico"> -->
    	<meta charset="utf-8">
	</head>

	<body>
		<h1>Quiz</h1>
		<h2>Hur väl kommer du ihåg dessa serier?<h2><br>
		<div></div>
		
		<br><br>

		{% for quiz in quizzes %}

			<h1>{{ quiz.name}}</h1>
			<p>{{ quiz.description }}</p><br>
			<a href="{% url "quiz_page" quiz.slug %}"

		{% endfor %} 	

	</body>

</html

		