<!doctype html>
<html>
	<head>
		<title>Quiz by Maria Kareliusson</title>
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="quiz.css">
		 <!--Favicon
    	<link rel="shortcut icon" href="favicon.ico"> -->
    	<meta charset="utf-8">
	</head>
	<body>
		<h1>Twin Peaks trivia time!</h1>
		<div>
			<img src="twin_peaks.jpg"alt="Twin Peaks intro" style="width:35%">
			<br>
		</div>
		<div>
			<a href="quiz_qa_tp.html">Starta</a>
		</div>
	<audio c
	ontrols="controls" loop="loop" preload="none">
	<source src="file:///Users/maria/Music/iTunes/iTunes Media/Music/The Beatles/Love/18 Here Comes the Sun _ the Inner Light.mp3" type="audio/		mpeg">
	Your browser does not support the audio element.
	</audio>
	
	</body>
</html>