<!doctype html>
<html>

	<head>
		<title>Quiz by Maria Kareliusson</title>
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="quiz.css">
		 <!--Favicon-->
    	<link rel="shortcut icon" href="favicon.ico">
    	<meta charset="utf-8">
	</head>

	<body>
		<h1>Quiz</h1>
		<h2>Hur väl kommer du ihåg dessa serier?<h2><br>
		<div></div>
			<h3><a href="quiz_start_tp.html"> Twin Peaks</a><br></h3>
			<img src="population.png"alt="Twin Peaks" style="width:35%">
		</div><br><br>
		<div>
		<h3><a href="quiz_start.html"> Battlestar Galactica</a><br></h3>
		<img src="battlestar-galactica.jpg"alt="Battlestar Galactica" style="width:35%">
		</div><br><br>
		<div>
		<h3><a href="quiz_start.html"> House M.D.</a><br></h3>
		<img src="house.jpg"alt="House M.D." style="width:35%">
		</div><br><br>
	</body>

</html