<!doctype html>
<html>
	<head>
		<title>Quiz by Maria Kareliusson</title>
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="quiz.css">
		 <!--Favicon
    	<link rel="shortcut icon" href="favicon.ico"> -->
    	<meta charset="utf-8">
	</head>
	<body>
		<h2>Twin Peaks Trivia</h2>
		<div>
		<img src="nightingale.png" alt="Twin Peaks Nightingale" style="width:20%">
		</div>
	<form>
		Hur många invånare finns i Twin Peaks enligt välkomsskylten?<br><br>
		<input type="radio" name="content" value="svarsalternativ 1" checked>49.201
		<br>
		<input type="radio" name="content" value="svarsalternativ 2" checked>51.201
		<br>
		<input type="radio" name="content" value="svarsalternativ 3" checked>42,104
		<br> <br>
	</form>
	<!-- Enter-knapp för att skicka in svaret, genererad via http://css3buttongenerator.com/ .btn finns i CSSn-->
	<div>
		<a href="quiz_results.html"> >>Nästa</a>
	</div>
	<!-- Progress Bar: Antal frågor besvarade: Antal frågor kvar:-->
	<div class="meter">
	<span style="width: 10%"></span>
	</div>
	</body>
</html>